.section {
  max-width: 1200px;
  margin: 0 auto;

  border: 1px solid rgb(29, 29, 29);
  border-radius: 15px;
  padding: 20px;
}
.section > h2 {
  margin-bottom: 16px;
}
.section > p {
  margin-bottom: 8px;
}
.section > input {
  padding: 5px;
  margin-bottom: 8px;

  border: 1px solid rgb(29, 29, 29);
  border-radius: 10px;
}
.section__contacts__list {
  list-style: decimal;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

  padding: 15px;
}
.contacts__list__item__content {
  display: flex;
  align-items: center;
}

.contact_name {
  margin-left: 5px;
  font-size: 20px;
  line-height: 1.2;
}
.delete_btn {
  padding: 5px;
  margin-left: 15px;
  border: 1px solid rgb(29, 29, 29);
  border-radius: 10px;
}
